* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #555;
}

p, small {
  color: #555;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-4 {
  flex-basis: 25%;
  min-width: 200px;
  padding: 10px;
  margin-bottom: 50px;
}

.col-5 {
  width: 160px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3, .footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

.btn {
  display: inline-block;
  background-color: #ff523b;
  color: #fff;
  padding: 10px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: 0.5s;
}

.btn:hover {
  background-color: #563434;
}

@media only screen and (max-width: 920px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 850px) and (min-width: 576px) {
  .row {
    text-align: center;
  }
  .col-2 {
    flex-basis: 45%;
  }
  .col-3 {
    flex-basis: 45%;
  }
  .col-4 {
    flex-basis: 45%;
  }
  .col-5 {
    flex-basis: 17.5%;
  }
}
@media only screen and (max-width: 480px) {
  .col-5 {
    flex-basis: 55%;
  }
}
@media only screen and (max-width: 575px) {
  .row {
    text-align: center;
  }
  .col-2, .col-3, .col-4 {
    flex-basis: 100%;
  }
  .col-5 {
    flex-basis: 18%;
  }
}
@media only screen and (min-width: 400px) {
  .footer-col-2 p {
    padding: 0 10%;
  }
  .select {
    padding: 5px;
  }
}
@media only screen and (max-width: 1171px) {
  .footer-col-1, .footer-col-2 {
    flex-basis: 50%;
  }
}
@media only screen and (max-width: 370px) {
  .row-2 h2 {
    margin: 0 auto;
  }
  .row-2 select {
    margin: 0 auto;
    margin-top: 20px;
  }
}
.row-about {
  background-color: #ff523b;
  width: 80%;
  margin: 10% auto 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.col-4-about {
  flex-basis: 25%;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.col-4-about img {
  width: 100%;
  cursor: pointer;
  transition: 1s;
}
.col-4-about p {
  margin: 20px 0;
  font-size: 16px;
  color: #fff;
}
.col-4-about h4 {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}
.col-4-about span {
  width: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 15px solid #ff523b;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
}
.col-4-about .arrow {
  right: unset;
  left: 0;
  border-left: 15px solid #ff523b;
  border-right: 15px solid transparent;
}

.social-link .fab {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #fff;
  margin: 10px 7px;
  cursor: pointer;
  color: #fff;
  transform: transition 1s;
}
.social-link .fab:hover {
  background-color: #fff;
  color: #ff523b;
  transform: translateY(-10px);
}

.col-4-about:hover img {
  transform: scale(1.2);
}

@media only screen and (max-width: 1075px) {
  .small-container.about-page {
    padding-left: 10px;
    padding-right: 10px;
  }
  .row-about {
    width: 100%;
    margin: 20% auto 60%;
  }
  .col-4-about {
    flex-basis: 50%;
    font-size: 10px;
  }
  .col-4-about p {
    font-size: 12px;
  }
  .col-4-about h4 {
    font-size: 14px;
  }
  .col-4-about img {
    max-height: 100%;
    max-width: 100%;
  }
  .social-link .fab {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .row-about .col-4-about:nth-child(1) {
    order: 1;
  }
  .row-about .col-4-about:nth-child(2) {
    order: 2;
  }
  .row-about .col-4-about:nth-child(3) {
    order: 5;
  }
  .row-about .col-4-about:nth-child(4) {
    order: 6;
  }
  .row-about .col-4-about:nth-child(5) {
    order: 3;
  }
  .row-about .col-4-about:nth-child(6) {
    order: 4;
  }
  .row-about .col-4-about:nth-child(7) {
    order: 7;
  }
  .row-about .col-4-about:nth-child(8) {
    order: 8;
  }
}
@media only screen and (max-width: 575px) and (min-width: 480px) {
  .small-container.about-page {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 576px) {
  .small-container.about-page {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media only screen and (max-width: 920px) and (min-width: 768px) {
  .small-container.about-page {
    padding-left: 150px;
    padding-right: 150px;
  }
  .col-4-about {
    flex-basis: 50%;
    font-size: 15px;
  }
  .col-4-about p {
    font-size: 16px;
  }
  .col-4-about h4 {
    font-size: 18px;
  }
  .social-link .fab {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 1075px) and (min-width: 921px) {
  .small-container.about-page {
    padding-left: 200px;
    padding-right: 200px;
  }
}
.account-page {
  padding: 50px 0;
  background-image: radial-gradient(#fff, #ffd6d6);
}

.form-container {
  background-color: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}
.form-container form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
.form-container form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
.form-container form .btn:focus {
  outline: none;
}
.form-container form a {
  font-size: 12px;
}

.form-btn {
  display: inline-block;
}

#loginForm {
  left: -300px;
}

#registerForm {
  left: 0;
}

#indicator {
  width: 100px;
  border: none;
  background-color: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}

@media only screen and (max-width: 330px) {
  .form-container {
    max-width: 275px;
  }
  .form-container form {
    max-width: 275px;
  }
}
.brands {
  margin: 100px auto;
}

.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover {
  filter: grayscale(0%);
}

.cart-page {
  margin: 80px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background-color: #ff523b;
  font-weight: normal;
}

td {
  padding: 10px 5px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a {
  color: #ff523b;
  font-size: 12px;
}
td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}
.total-price table {
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 440px;
}

td:last-child, th:last-child {
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .cart-info p {
    display: none;
  }
}
.categories {
  margin: 70px 0;
}

.col-3 img {
  width: 100%;
}

.col-4 {
  transition: transform 0.5s;
}
.col-4 img {
  width: 100%;
}
.col-4 p {
  font-size: 14px;
}

.col-4:hover {
  transform: translateY(-20px);
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: "";
  background-color: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}

.rating .fas, .rating .far {
  color: #ff523b;
}

.contact-page {
  background: radial-gradient(#fff, #ffd6d6);
}

.contact-conversation h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.contact {
  flex-basis: 40%;
  padding: 40px;
  background: #fff;
  border: 0.5px solid #ccc;
}
.contact h3 {
  margin-bottom: 50px;
  font-weight: 600;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-row .input-group {
  flex-basis: 45%;
}
.input-row .input-group input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: 5px;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
}

label {
  margin-bottom: 6px;
  display: block;
}

.small-btn {
  display: inline-block;
  background-color: #ff522b;
  color: white;
  padding: 8px 30px;
  border-radius: 30px;
  transition: 0.5s;
  max-width: 100px;
  border: none;
  outline: none;
  height: 35px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgb(247, 99, 1);
}

@media only screen and (max-width: 767px) {
  .contact-conversation h1 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 920px) {
  .contact-box {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 920px) {
  .input-row {
    display: block;
  }
  .input-row input {
    margin-bottom: 25px;
  }
}
.footer {
  background-color: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 40px;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}

hr {
  border: none;
  background-color: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}

.header {
  background-image: radial-gradient(#fff, #ffd6d6);
}
.header .row {
  margin-top: 70px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  font-size: 20px;
}

.logo img {
  width: 125px;
}

.cart-img {
  width: 30px;
  height: 30px;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

@media only screen and (max-width: 920px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 10;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}
.offer {
  background-image: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .offer-img {
  padding: 50px;
}

.product select {
  border: 1px solid #ff523b;
  padding: 10px;
  background-color: #fff;
}
.product select:focus {
  outline: none;
}
.product .page-btn {
  margin: 0 auto 80px;
}
.product .page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.product .page-btn span:hover {
  background-color: #ff523b;
  color: #fff;
}

@media only screen and (max-width: 370px) {
  .page-btn span {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}
.product-details {
  margin-top: 80px;
}
.product-details .col-2 {
  padding: 20px;
}
.product-details .col-2 img {
  padding: 0;
}
.product-details h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.product-details select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.product-details input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}
.product-details input:focus {
  outline: none;
}
.product-details .fas {
  color: #ff523b;
  margin-left: 10px;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .product-details .row {
    text-align: left;
  }
  .product-details .col-2 {
    padding: 20px 0;
  }
  .product-details h1 {
    font-size: 26px;
    line-height: 32px;
  }
}
.testimonials {
  padding-top: 100px;
}
.testimonials .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonials .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.testimonials .col-3 p {
  font-size: 13px;
  margin: 12px 0;
  color: #777;
}
.testimonials .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}
.testimonials .col-3:hover {
  transform: translateY(-20px);
}
.testimonials .fas.fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}